////
/// Verse block.
///
/// @group  Blocks
/// @author WP Tavern <justintadlock@gmail.com>
/// @link   https://wptavern.com
////

.wp-block-verse {
	margin-top:  $spacing-global;
	padding:     0;
	line-height: inherit;
	font-family: inherit;
	font-size:   inherit;
	background:  inherit;
	color:       inherit;
	border:      none;
	box-shadow:  none;
}
