////
/// Typography control.
///
/// Styles for the typography customize control.
///
/// @group  CustomizeControls
/// @author WP Tavern <justintadlock@gmail.com>
/// @link   https://wptavern.com
////

// Add a separator between font controls.
.customize-control-tavern-typography {
	padding-bottom: 12px;
	border-bottom:  1px solid #ddd;

	&:last-of-type {
		padding-bottom: 0;
		border-bottom:  none;
	}
}
