////
/// Widget component.
///
/// @group  Components
/// @author WP Tavern <justintadlock@gmail.com>
/// @link   https://wptavern.com
////

.widget {

	// Widget titles.
	&__title {
		margin-top: 0;
		color:      inherit;
	}

	// Core widgets.
	&--archives {}
	&--calendar {}

	&--categories .postform,
	&--archives [name=archive-dropdown] {
	//	margin-bottom: $spacing-global;
		margin-top: $spacing-global;
	}

	&--custom-html {}
	&--media-audio {}
	&--media-gallery {}
	&--media-image {}
	&--media-video {}
	&--meta {}
	&--nav-menu {}
	&--pages {}
	&--recent-comments {}
	&--recent-posts {}
	&--rss {}
	&--text {}
	&--search {}
	&--tag-cloud {}

	.tagcloud {
	//	margin-bottom: $spacing-global;
	//	margin-top: $spacing-global;
	}
}
