////
/// Quote block.
///
/// @group  Blocks
/// @author WP Tavern <justintadlock@gmail.com>
/// @link   https://wptavern.com
////

.wp-block-quote {

	&.is-style-large {
		font-size: 1.25em;
	}

	p {}

	> cite {
		display:  block;
		//margin-bottom: $spacing-global;
		margin-top: $spacing-global;
	}
}
